<div class="container mx-auto max-w-7xl flex flex-col gap-5">
  <h1 class="text-3xl">{{ 'create_course.title' | transloco }}</h1>
  <form (submit)="onCreateCourse($event)">
    <mat-form-field class="w-full">
      <mat-label>{{ 'create_course.fields.name' | transloco }}</mat-label>
      <input [formField]="createCourseForm.name" matInput />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ 'create_course.fields.description' | transloco }}</mat-label>
      <textarea [formField]="createCourseForm.description" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ 'create_course.fields.exam_date' | transloco }}</mat-label>
      <input [formField]="createCourseForm.examDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ 'create_course.fields.tags' | transloco }}</mat-label>
      <input
        type="text"
        [formField]="createCourseForm.tags"
        placeholder="java, programming, ..."
        matInput
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ 'create_course.fields.moodle_link' | transloco }}</mat-label>
      <input type="text" [formField]="createCourseForm.moodle" matInput />
    </mat-form-field>

    <div>
      <mat-slide-toggle [formField]="createCourseForm.visible">
        @if (createCourseModel().visible) { {{ 'create_course.fields.public' | transloco }} } @else
        { {{ 'create_course.fields.private' | transloco }} }
      </mat-slide-toggle>
    </div>

    <div class="submit-container mt-8 flex items-center gap-4">
      <button class="w-full lg:w-fit" matButton="filled">
        <span class="btn-content flex gap-3 items-center">
          @if (isLoading()) {
          <mat-spinner diameter="20" class="mat-sys-on-primary"></mat-spinner>
          }
          <span>{{ 'create_course.create_label' | transloco}}</span>
        </span>
      </button>
      <mat-error>
        @if (errorMessage()) { Ein Fehler ist aufgetreten: {{ errorMessage() }} }
      </mat-error>
    </div>
  </form>
</div>
