<div class="container mx-auto max-w-7xl flex flex-col gap-5">
  <h1 class="text-3xl">Neuen Kurs erstellen</h1>
  <form (submit)="onCreateCourse($event)">
    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input [formField]="createCourseForm.name" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Beschreibung</mat-label>
      <textarea [formField]="createCourseForm.description" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Klausurdatum</mat-label>
      <input [formField]="createCourseForm.examDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Tags</mat-label>
      <input type="text" [formField]="createCourseForm.tags" placeholder="java, programming, ..." matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Moodle Link</mat-label>
      <input type="text" [formField]="createCourseForm.moodle" matInput>
    </mat-form-field>

    <div>
      <mat-slide-toggle [formField]="createCourseForm.visible">
        @if (createCourseModel().visible) {
          Öffentlich
        } @else {
          Privat
        }
      </mat-slide-toggle>
    </div>

    <div class="submit-container mt-8 flex items-center gap-4">
      <button class="w-full lg:w-fit" matButton="filled">
      <span class="btn-content flex gap-3 items-center">
        @if (isLoading()) {
          <mat-spinner diameter="20" class="mat-sys-on-primary"></mat-spinner>
        }
        <span>Erstellen</span>
      </span>
      </button>
      <mat-error>
        @if (errorMessage()) {
          Ein Fehler ist aufgetreten:
          {{ errorMessage() }}
        }
      </mat-error>
    </div>
  </form>
</div>
